body {
    background-color: #1c2b2d;
    color: #99a8b2;
}

* {
    text-decoration: none;
}

.error {
    text-align: center;
    font-size: 100px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #1f6f8b;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.nav li span {
    font-size: 30px;
    color: white;
    font-style: normal;
    padding: 8px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav li span:hover {
    background-color: #99a8b2;
}

.explain {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.explain div {
    margin: 15px;
    font-size: x-large;
}

.explain .earth {
    background-color: #f1f6f9;
    border-radius: 8px;
    padding: 8px;
    color: black;
    grid-row: 1 / 2;
}

.explain .other {
    background-color: #394867;
    border-radius: 8px;
    padding: 8px;
    color: white;
    grid-column: 2 / 3;
}

.explain .description {
    background-color: #9ba4b4;
    border-radius: 8px;
    padding: 8px;
    color: black;
    grid-column: 1 / 3;
}