body {
    background-color: #1c2b2d;
    color: #99a8b2;
}

* {
    text-decoration: none;
}

.error {
    text-align: center;
    font-size: 100px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #1f6f8b;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.nav li span {
    font-size: 30px;
    color: white;
    font-style: normal;
    padding: 8px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav li span:hover {
    background-color: #99a8b2;
}

.explain {
    display: grid;
    background-color: #393b44;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120vh;
}

.explain div {
    margin: 15px;
    font-size: x-large;
}

.explain .earth {
    background-color: #8d93ab;
    border-radius: 8px;
    padding: 8px;
    color: #f1f3f8;
    grid-row: 1 / 2;
}

.explain .other {
    background-color: #d6e0f0;
    border-radius: 8px;
    padding: 8px;
    color: #393b44;
    grid-column: 2 / 3;
}

.explain .description {
    background-color: #f1f3f8;
    border-radius: 8px;
    padding: 8px;
    color: black;
    grid-column: 1 / 3;
    grid-row: 2/2;
}

.switch {
    padding: 10px;
    background-color: #bedbbb;
    margin: 10px;
    position: absolute;
    left: 45%;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.earth-img {
    position: absolute;
    left: 0px;
}

/* Finish All Other Planet Setup */

.key {
    background-color: #f1f6f9;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    position: absolute;
    right: 0;
    width: 200px;
    color: #393b44;
    font-family: arial;
}

.desc {
    background-color: #f1f6f9;
    border-radius: 8px;
    padding: 8px;
    margin: 15px;
    position: absolute;
    width: 200px;
    color: #393b44;
    font-family: arial;
    left: 0;
    top: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}